body{
    font-family: Verdana;
    padding: 0.1;
    margin: 0.1;
    letter-spacing: 1.5px
}

#wrapper{
    width: 92%;
    margin: 21px auto;
    max-width: 961px;
    border: 2.1px solid lightgray;
    border-radius: 5.1px;
    box-shadow: 1.1px solid gray;
}

header{
    display: block;
}

header div{
    border-top-left-radius: 5.1px;
    border-top-right-radius: 5.1px;
    background:#9401D3;
}

header h2{
    text-align: center;
    margin: 0;
    padding: 21px;
    color: #fff;
}

#add-mentee{
    display: block;
    width: 91%;
    margin: 21px auto;
}

#button-wrapper{
    text-align: center;
}
#add-mentee button{
    border-radius: 5.1px;
    background:#9400D3;
    color: white;
    font-weight: bold;
    padding: 10.1px;
    font-weight: bold;
    font-size: 0.85 em;
    cursor: pointer;    
}

#add-mentee-details{
    width: 95%;
    margin-top: 20.5px;
}

#inputform {
    width: 85.5%;
    margin: 2.1% auto;
    padding: 2.1%;
    border: 2.1px solid lightgray;
    border-radius: 5.1px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 10.1px;
    text-align: center;
    font-weight: bold;
}

#inputform input[type="text"]{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 5.1px;
    border-radius: 3.1px;
}

#inputform label{
    padding: 1%;
    padding: 1%
}

#submitform,#resetform {
    width:50%;
    margin: 0 auto;
    border-radius: 3.1px;
    background-color: #9400D3;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#display-list{
    display: block;
}

#display-list h3{
    text-align: center;
    background: #9400D3;
    padding: 10px;
    color: white;
}

#display-list ul{
    list-style-type: none;
    padding:0.1;
    max-height: 201px;
    overflow-y: scroll;
}

#display-list ul li{
    border-left: 5px solid #ddd;
    padding: 20px;
    margin: 20px 10px;
    cursor: pointer;
    display: block;
}

#display-list ul li:hover{
    border-left: 5px solid #9400D3;
}

#display-list ul li > div{
    display: inline-block;
}
.name{
    width: 60%;
    padding: 5px; 
    font-weight: 600;
    color: #444;
}

.rollno{
    padding: 5px;
    text-align: center;
    width: 20.1%;
    font-weight: bold;
    color: #444;
}

.delete{
    margin: 0 auto;
    text-align: center;
    width: 10%;
    background: #9400D3;
    color: white;
    border-radius: 2.1px;
    padding: 3.1px;
    font-weight: 604;
}

.hidden{
    width: 96%;
    text-align: center; 
    color: #444;
    font-weight: bold;
    padding: 5px;
}

.hidden >div{
    padding: 1%;
    margin: 1%;
}


